{
  "env": {
    "test": {
      "presets": [
        "@babel/react", 
        "@babel/preset-env"
      ],
      "plugins": ["transform-export-extensions"],
      "only": [
        "./**/*.js",
        "node_modules/jest-runtime"
      ]
    }
  }
}